<div>
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-head-line">Configuração</h1>
      <h1 class="page-subhead-line">Ajuste parâmetros do sistema necessários para seu correto funcionamento</h1>
      <a ng-click="vm.helpActive = !vm.helpActive" class="btn btn-link pull-right"><span class="fa fa-info"></span></a>
      <toast></toast>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Configuração
        </div>
        <div class="panel-body">
          <form ng-submit="vm.alt()" name="form" novalidate>
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label>Quantidade de animais por período *</label>
                  <input class="form-control" type="text" ng-model="vm.form.quantidade_animais" name="quantidade_animais" ng-maxlength="11" ng-pattern="/^\d+$/">
                  <p class="help-block error" ng-show="form.quantidade_animais.$invalid && !form.quantidade_animais.$pristine">Necessário inserir um quantidade válida</p>
                  <p class="help-block error" ng-show="form.quantidade_animais.$error.maxlength">O valor informado foi maior que o limite</p>
                  <p class="help-block" ng-show="vm.helpActive">Insira o nome do grupo de ítem que deseja adicionar</p>
                </div>
              </div>
              <div class="col-xs-12">
                <div class="form-group">
                  <label>Número de períodos do dia *</label>
                  <input class="form-control" type="text" ng-model="vm.form.periodos_dia">
                  <input class="form-control" type="text" ng-model="vm.form.quantidade_animais" name="periodos_animais" ng-maxlength="11" ng-pattern="/^\d+$/">
                  <p class="help-block error" ng-show="form.periodos_animais.$invalid && !form.periodos_animais.$pristine">Necessário inserir um quantidade válida</p>
                  <p class="help-block error" ng-show="form.periodos_animais.$error.maxlength">O valor informado foi maior que o limite</p>
                  <p class="help-block" ng-show="vm.helpActive">Insira o nome do grupo de ítem que deseja adicionar</p>
                </div>
              </div>
              <div class="col-xs-1">
                <label>
                  <br>
                </label>
                <button class="btn btn-link" type="submit" data-toggle="tooltip" data-placement="top" title="Salvar cadastro"><span class="fa fa-check"></span></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
