<div>
   <div class="row">
      <div class="col-md-12">
         <h1 class="page-head-line">Raça</h1>
         <h1 class="page-subhead-line">Veja todas as raças cadastradas</h1>
         <a ng-click="vm.helpActive = !vm.helpActive" class="btn btn-link pull-right"><span class="fa fa-info"></span></a>
         <toast></toast>
      </div>
   </div>

   <div class="row">
      <div class="col-xs-12">
         <div class="panel panel-default">
            <div class="panel-heading">
               Raças
            </div>
            <div class="panel-body">
               <div class="row">
                  <form ng-submit="vm.add()" name="form" novalidate>
                     <div class="col-xs-5">
                        <div class="form-group">
                           <label>Nome *</label>
                           <input class="form-control" type="text" ng-model="vm.form.nome" name="nome" required ng-maxlength="50">
                           <p class="help-block error" ng-show="form.nome.$invalid && !form.nome.$pristine">Necessário inserir um nome válido</p>
                           <p class="help-block error" ng-show="form.nome.$error.maxlength">O valor informado foi maior que o limite</p>
                           <p class="help-block" ng-show="vm.helpActive">Insira o nome do grupo de ítem que deseja adicionar</p>
                        </div>
                     </div>

                     <div class="col-xs-6">
                        <label>Espécie</label>
                        <select class="form-control" ng-model="vm.form.especie_id" ng-options="especie.nome for especie in vm.especies track by especie.id">
                        </select>
                        <p class="help-block" ng-show="vm.helpActive">Selecione a espécie</p>
                     </div>
                     <div class="col-xs-1">
                        <label>
                           <br>
                        </label>
                        <button class="btn btn-link" type="submit" data-toggle="tooltip" data-placement="top" title="Salvar cadastro"><span class="fa fa-check"></span></button>
                     </div>
                  </form>
               </div>
               <hr>
               <div class="row">
                  <div class="col-xs-12">
                     <div class="form-group">
                        <label>Insira os parâmetros da busca</label>
                        <input class="form-control" type="text" ng-model="vm.filtro">
                        <p class="help-block" ng-show="vm.helpActive">Você pode pesquisar por qualquer dado do produto</p>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-xs-12">
                     <table class="table table-striped table-hover">
                        <thead>
                           <tr>
                              <th class="col-xs-6">Nome</th>
                              <th class="col-xs-4">Espécie</th>
                              <th class="col-xs-2">Ações</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr dir-paginate="entry in vm.racas | filter:vm.filtro | orderBy:'nome' | itemsPerPage: 10" pagination-id="raca">
                              <td>
                                 <span data-ng-hide="editMode">{{entry.nome | capitalize}}</span>
                                 <input type="text" data-ng-show="editMode" data-ng-model="entry.nome" data-ng-required>
                              </td>
                              <td>
                                 <span>{{entry.especie.nome }}</span>
                              </td>
                              <td>
                                 <button class="btn btn-link" data-ng-hide="editMode" data-ng-click="editMode = true" data-toggle="tooltip" data-placement="top" title="Alterar dados cadastrados"><span class="fa fa-pencil"></span></button>
                                 <button class="btn btn-link" data-ng-show="editMode" data-ng-click="vm.alt(entry); editMode = false" data-toggle="tooltip" data-placement="top" title="Salvar alterações"><span class="fa fa-check"></span></button>
                                 <button class="btn btn-link" data-ng-show="editMode" data-ng-click="editMode = false" data-toggle="tooltip" data-placement="top" title="Cancelar alterações"><span class="fa fa-close"></span></button>
                                 <button class="btn btn-link pull-right" ng-click="vm.del(entry)" data-toggle="tooltip" data-placement="top" title="Excluir cadastro"><span class="fa fa-trash"></span></button>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
               <div class="row">
                  <div class="col-xs-12 text-center">
                     <dir-pagination-controls pagination-id="raca"></dir-pagination-controls>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
