<div>
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-head-line">Cadastrar Produto</h1>
      <h1 class="page-subhead-line">Insira os dados dos produtos e veja os que estão em estoque </h1>
      <p class="text-muted">Os campos marcados com * são obrigatórios</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Dados do Produto
        </div>
        <div class="panel-body">
          <form role="form">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Nome *</label>
                  <input class="form-control" type="text" data-ng-model="produto.nome_produto" name="nome_produto">
                  <p class="help-block">Insira o nome do produto</p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Preço *</label>
                  <input class="form-control" type="text" data-ng-model="produto.preco">
                  <p class="help-block">Insira o preço do produto</p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Quantidade *</label>
                  <input class="form-control" type="text" data-ng-model="produto.quantidade">
                  <p class="help-block">Insira a quantidade</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <a class="btn btn-success"><span class="fa fa-check"></span>&nbsp; <b>Salvar</b></a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
