<div>
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-head-line">Agendamento</h1>
      <h1 class="page-subhead-line">Crie contratos de serviços para os clientes</h1>
      <a ng-click="vm.helpActive = !vm.helpActive" class="btn btn-link pull-right"><span class="fa fa-info"></span></a>

      <div ng-show="vm.status" class="alert alert-info">{{vm.status}}</div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Agendamento
        </div>
        <div class="panel-body">
          <form ng-submit="vm.add()">
            <div class="row" ng-hide="vm.alterando">
              <div class="col-xs-9">
                <div class="form-group">
                  <label>Cliente *</label>
                  <input class="form-control" type="text" ng-model="vm.form.pessoa_tem_funcao.nome" ng-readonly="true" data-toggle="modal" data-target="#selecionarCliente" ng-disabled="vm.alterando">
                  <p class="help-block" ng-show="vm.helpActive">Selecione um cliente</p>
                </div>
              </div>
              <div class="col-xs-3">
                <div class="form-group">
                  <label>Selecionar Cliente</label>
                  <a class="form-control btn btn-link" data-toggle="modal" data-target="#selecionarCliente" data-toggle="tooltip" data-placement="top" title="Busque por um cliente para realizar o agendamento" ng-disabled="vm.alterando">
                    <i class="fa fa-user"></i>&nbsp;&nbsp;<b>Buscar</b>
                  </a>
                </div>
              </div>
            </div>

            <div class="row" ng-show="vm.alterando">
              <div class="col-xs-12">
                <div class="form-group">
                  <label>Cliente</label>
                  <input class="form-control" type="text" ng-model="vm.form.pessoa_tem_funcao.nome" ng-readonly="true">
                  <p class="help-block" ng-show="vm.helpActive">Cliente deste agendamento</p>
                </div>
              </div>
            </div>
            <div class="row" ng-show="vm.alterando">
              <div class="col-xs-6">
                <div class="form-group">
                  <label>Valor total (R$)</label>
                  <input class="form-control" type="text" ng-model="vm.form.preco">
                  <p class="help-block" ng-show="vm.helpActive">Valor total do contrato</p>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="form-group">
                  <label>ID Transação</label>
                  <input class="form-control" type="text" ng-model="vm.form.transacao_id" ng-readonly="true">
                  <p class="help-block" ng-show="vm.helpActive">Identificação da última transação registrada</p>
                </div>
              </div>
            </div>
            <div id="servicos_agendados">
              <fieldset data-ng-repeat="agendamento in vm.form.servicos_agendados">
                <hr>
                <div class="row">
                  <div class="col-xs-3">
                    <div class="row">
                      <div class="col-xs-12">
                        <label>Data *</label>
                        <div class="form-group">
                          <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="{{vm.format}}" ng-model="agendamento.data_hora" ng-required="true" is-open="agendamento.popup" datepicker-options="dateOptions" altInputFormats="altInputFormats" close-text="Fechar">
                            <span class="input-group-btn">
                                      <a type="button" class="btn btn-default" ng-click="vm.openDate(agendamento)"><span class="fa fa-calendar"></span></a>
                            </span>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <!-- <label>Hora *</label> -->
                        <div class="form-group">
                          <div uib-timepicker hour-step="1" minute-step="5" show-meridian="true" ng-model="agendamento.data_hora"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-9">
                    <div class="row">
                      <div class="col-xs-12">
                        <div class="row">
                          <div class="col-xs-5">
                            <label>Serviço *</label>
                            <div class="form-group">
                              <select class="form-control" ng-model="agendamento.servico_id" ng-options="servico.id as servico.nome for servico in vm.servicos track by servico.id" ng-hide="vm.alterando"></select>
                              <input type="text" ng-model="agendamento.servico_tem_porte.servico.nome" class="form-control" ng-readonly="true" ng-show="vm.alterando">
                            </div>
                          </div>
                          <div class="col-xs-5">
                            <label>Animal *</label>
                            <div class="form-group">
                              <select class="form-control" ng-model="agendamento.animal" ng-options="animal as animal.nome for animal in vm.animais track by animal.id" ng-change="vm.selectAnimal(agendamento, agendamento.animal)" ng-hide="vm.alterando"></select>
                              <input type="text" ng-model="agendamento.animal.nome" class="form-control" ng-readonly="true" ng-show="vm.alterando">
                            </div>
                          </div>
                          <div class="col-xs-2">
                            <div class="form-group">
                              <label>Detalhes</label>
                              <a class="form-control btn btn-link" ng-disabled="!agendamento.animal || vm.alterando" data-toggle="modal" data-target="#detalhesAnimal" data-toggle="tooltip" data-placement="top" title="Ver detalhes do animal" ng-click="vm.detalhes_animal(agendamento.animal.id)"><span class="fa fa-plus"></span></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <br>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <div class="row">
                          <div class="col-xs-3">
                            <div class="form-group">
                              <label class="control-label" for="input">Preço *</label>
                              <div class="input-group">
                                <a class="btn btn-link input-group-addon" data-toggle="tooltip" data-placement="top" title="Calcular valor do serviço" ng-click="vm.calcularPreco(agendamento)"><span class="fa fa-usd"></span></a>
                                <input type="text" ng-model="agendamento.preco" class="form-control" id="input">
                                <p class="help-block" ng-show="vm.helpActive">Clique no botão para calcular o valor do serviço ou informe-o manualmente</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-xs-9">
                            <div class="form-group">
                              <label>Observações *</label>
                              <input class="form-control" type="text" ng-model="agendamento.observacao">
                              <p class="help-block" ng-show="vm.helpActive">Informações sobre este serviço</p>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-2">
                            <div class="form-group">
                              <label>
                                <br>
                              </label>
                              <div class="checkbox">
                                <label>
                                  <input type="checkbox" data-ng-model="agendamento.recorrente">&nbsp;&nbsp; Recorrente
                                </label>
                              </div>
                              <p class="help-block" ng-show="vm.helpActive">Marque esta opção se o serviço acontece regularmente</p>
                            </div>
                          </div>
                          <div class="col-xs-2">
                            <div class="form-group">
                              <label>
                                <br>
                              </label>
                              <div class="checkbox">
                                <label>
                                  <input type="checkbox" data-ng-model="agendamento.executado">&nbsp;&nbsp; Executado
                                </label>
                              </div>
                              <p class="help-block" ng-show="vm.helpActive">Marque esta opção se o serviço foi realizado</p>
                            </div>
                          </div>
                          <div class="col-xs-2">
                            <div class="form-group">
                              <label>
                                <br>
                              </label>
                              <div class="checkbox">
                                <label>
                                  <input type="checkbox" data-ng-model="agendamento.pago">&nbsp;&nbsp; Pago
                                </label>
                              </div>
                              <p class="help-block" ng-show="vm.helpActive">Marque esta opção se o serviço teve o pagamento efetuado</p>
                            </div>
                          </div>
                          <div class="col-xs-2">
                            <div class="form-group">
                              <label>
                                <br>
                              </label>
                              <div class="checkbox">
                                <label>
                                  <input type="checkbox" data-ng-model="agendamento.cancelado" ng-disabled="true" ng-readonly="true">&nbsp;&nbsp; Cancelado
                                </label>
                              </div>
                              <p class="help-block" ng-show="vm.helpActive">Marque esta opção para cancelar o agendamento</p>
                            </div>
                          </div>
                          <div class="col-xs-4">
                            <div class="form-group">
                              <label>Cancelar</label>
                              <a class="form-control btn btn-link" ng-disabled="agendamento.cancelado" ng-readonly="agendamento.cancelado" data-toggle="tooltip" data-placement="top" title="Remover este agendamento" ng-click="vm.cancelAgendamento(agendamento)"><span class="fa fa-minus"></span></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>

            <div class="row">
              <div class="col-xs-6">
                <a ng-hide="vm.alterando" class="btn btn-link" data-ng-click="vm.add()" data-toggle="tooltip" data-placement="top" title="Confirmar agendamento"><span class="fa fa-check"></span><b>&nbsp;&nbsp; Confirmar Agendamento</b></a>
                <a ng-show="vm.alterando" class="btn btn-link" data-ng-click="vm.alt()" data-toggle="tooltip" data-placement="top" title="Alterar informações"><span class="fa fa-check"></span><b>&nbsp;&nbsp; Atualizar informações</b></a>
              </div>
              <div class="col-xs-6">
                <a class="btn btn-link pull-right" data-ng-click="vm.incluirAgendamento()" data-toggle="tooltip" data-placement="top" title="Adicionar Serviço"><span class="fa fa-plus"></span><b>&nbsp;&nbsp; Adicionar Serviço</b></a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <!-- MODAL DE SELEÇÂO DO CLIENTE -->
  <div id="selecionarCliente" class="modal fade" role="dialog" aria-labelledby="cliente">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Selecionar cliente</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label>Busque por um cliente</label>
                <input class="form-control" type="text" ng-model="vm.filtro">
                <p class="help-block" ng-show="vm.helpActive">Você pode pesquisar por qualquer dado do cliente</p>
              </div>
            </div>
          </div>
          <label>Cliente *</label>
          <div class="table-wrapper">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th class="col-xs-1">#</th>
                  <th class="col-xs-4">Nome</th>
                  <th class="col-xs-4">Email</th>
                  <th class="col-xs-3">Telefone</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="entry in vm.clientes | filter:vm.filtro">
                  <th>
                    <input type="checkbox" ng-model="entry.checked" ng-change="vm.updateSelection(entry.id, vm.clientes); vm.selectCliente(entry)" data-dismiss="modal">
                  </th>
                  <td>{{entry.nome}}</td>
                  <td>{{entry.email}}</td>
                  <td>{{entry.telefone}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.cancelCliente()">Fechar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- MODAL DE DETALHES DO ANIMAL -->
  <div id="detalhesAnimal" class="modal fade" role="dialog" aria-labelledby="detalhes">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Detalhes</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label>Nome</label>
                <input class="form-control" type="text" ng-model="vm.form.animal.nome" ng-readonly="true">
                <p class="help-block" ng-show="vm.helpActive">Nome do animal</p>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="form-group has-feedback">
                <label class="control-label" for="input">Sexo</label>
                <div class="input-group" ng-show="vm.form.animal.sexo === 'M'">
                  <input type="text" class="form-control" id="input" ng-readonly="true" value="Macho">
                  <span class="form-control-feedback input-group-addon fa fa-mars"></span>
                </div>
                <div class="input-group" ng-show="vm.form.animal.sexo === 'F'">
                  <input type="text" class="form-control" id="input" ng-readonly="true" value="Fêmea">
                  <span class="form-control-feedback  input-group-addon fa fa-venus"></span>
                </div>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="form-group">
                <label>Nascimento</label>
                <input class="form-control" type="text" ng-model="vm.form.animal.data_nascimento" ng-readonly="true">
                <p class="help-block" ng-show="vm.helpActive">Data de Nascimento</p>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="form-group">
                <label>Raça</label>
                <input class="form-control" type="text" ng-model="vm.form.animal.raca.nome" ng-readonly="true">
                <p class="help-block" ng-show="vm.helpActive">Raça do animal</p>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="form-group">
                <label>Porte</label>
                <input class="form-control" type="text" ng-model="vm.form.animal.porte.nome" ng-readonly="true">
                <p class="help-block" ng-show="vm.helpActive">Porte</p>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

</div>
