<div ng-controller="ServicoController as vm">
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-head-line">Agenda</h1>
      <h1 class="page-subhead-line">Veja uma lista dos serviços marcados e agende novos</h1>
      <!-- <p class="text-muted">Os campos marcados com * são obrigatórios</p> -->
    </div>
  </div>

  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        Agenda
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Insira os parâmetros da busca</label>
                  <input class="form-control" type="text" name="busca">
                  <p class="help-block">Você pode pesquisar por qualquer dado do cliente ou animal</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <label>Animais</label>
                <div class="list-group" ng-repeat="item in vm.animais">
                  <a href="#" class="list-group-item" ng-show="item.nome" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" ng-model="animais" jqyoui-draggable="{index: {{$index}}, placeholder:'keep'}">
                    <h4 class="list-group-item-heading">{{item.nome}}</h4>
                    <p class="list-group-item-text">
                      <i ng-class="item.sexo == 'm' ? 'fa fa-mars' : 'fa fa-venus'"></i> - {{item.data}} - {{item.raca}}
                    </p>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 pull-right">
            <div class="row">
              <div class="col-md-12">
                <label>Serviços</label>
                <div class="list-group" ng-repeat="item in vm.servicos">
                  <a href="#" class="list-group-item" ng-show="item.nome_servico" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" ng-model="servicos" jqyoui-draggable="{index: {{$index}}, placeholder:'keep'}">
                    <h4 class="list-group-item-heading">{{item.nome_servico}}</h4>
                  </a>
                </div>
              </div>
            </div>
          </div>
          {{vm.teste}}
          <div class="col-lg-7 col-md-7 col-sm-12">
            <h2 class="text-center">{{ vm.calendarTitle }}</h2>

            <div class="row">

              <div class="col-md-6 text-center">
                <div class="btn-group">

                  <button class="btn btn-primary" mwl-date-modifier date="vm.viewDate" decrement="vm.calendarView" ng-click="vm.cellIsOpen = false">
                    Previous
                  </button>
                  <button class="btn btn-default" mwl-date-modifier date="vm.viewDate" set-to-today ng-click="vm.cellIsOpen = false">
                    Today
                  </button>
                  <button class="btn btn-primary" mwl-date-modifier date="vm.viewDate" increment="vm.calendarView" ng-click="vm.cellIsOpen = false">
                    Next
                  </button>
                </div>
              </div>

              <br class="visible-xs visible-sm">

              <div class="col-md-6 text-center">
                <div class="btn-group">
                  <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'year'" ng-click="vm.cellIsOpen = false">Year</label>
                  <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'month'" ng-click="vm.cellIsOpen = false">Month</label>
                  <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'week'" ng-click="vm.cellIsOpen = false">Week</label>
                  <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'day'" ng-click="vm.cellIsOpen = false">Day</label>
                </div>
              </div>

            </div>
            <label>Agendamento</label>
            <div class="wrapper-agenda">
              <mwl-calendar view="vm.calendarView" view-date="vm.viewDate" events="vm.events" view-title="calendarTitle" on-event-click="eventClicked(calendarEvent)" on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
                cell-is-open="true">
              </mwl-calendar>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
