<div>
  <div class="row">
    <div class="col-xs-12">
      <h1 class="page-head-line">Serviço</h1>
      <h1 class="page-subhead-line">Confirmação</h1>
      <toast></toast>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="jumbotron">
        <h1>Agendamento concluído</h1>
        <p>Os serviços foram agendados com sucesso e os animais serão tratados com todo carinho e cuidado do mundo <i class="text-info fa fa-heart"></i></p>
        <p><a ng-click="vm.gotoAgenda()" class="btn btn-link"><span class="fa fa-plus"></span>&nbsp;<span class="fa fa-shopping-cart"></span>&nbsp; <b>Ver Agenda</b></a></p>
      </div>
    </div>
  </div>
</div>
