<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <link href="../static/css/bootstrap.css" rel="stylesheet"/>
  <link href="../static/css/font-awesome.min.css" rel="stylesheet"/>
  <link href="../static/css/xeditable.min.css" rel="stylesheet"/>
  <link href="../static/css/angular-bootstrap-calendar.css" rel="stylesheet"/>

  <link href="../static/css/cards.css" rel="stylesheet"/>

  <script src="../static/lib/jquery/jquery.min.js"></script>
  <script src="../static/lib/jquery/jquery-ui.min.js"></script>
  <script src="../static/lib/jquery/moment-with-locales.min.js"></script>
  <script src="../static/lib/angular/angular.min.js"></script>
  <script src="../static/lib/angular/angular-locale_pt-br.js"></script>
  <script src="../static/lib/angular/angular-route.min.js"></script>
  <script src="../static/lib/angular/angular-storage.min.js"></script>
  <script src="../static/lib/angular/angular-resource.min.js"></script>
  <script src="../static/lib/angular/angular-moment.min.js"></script>
  <script src="../static/lib/angular/ui-bootstrap-tpls.min.js"></script>
  <script src="../static/lib/angular/xeditable.min.js"></script>
  <script src="../static/lib/angular/angular-dragdrop.js"></script>
  <script src="../static/lib/angular/angular-bootstrap-calendar-tpls.min.js"></script>
  <script src="../static/lib/bootstrap/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
    		<div class="row text-center">
        		<div class="col-md-12 set-pad" >
            		<strong class="error-txt">ERRO! 404 PÁGINA NÃO ENCONTRADA</strong>
            		<strong class="error-txt">ERRO! 404 PÁGINA NÃO ENCONTRADA</strong>
                <p class="p-err">Infelizmente a página a página que você tentou acessar não foi encontrada. Tenha certeza de ter inserido o endereço correto e tente novamente.</p>
                <a href="index.html" class="btn btn-danger" ><i class="fa fa-mail-reply"></i>&nbsp;POR FAVOR, VOLTE.</a>
            </div>
        </div>
    </div>
    <div class="c-err">
        <div class="container">
	        <!--Search Section Start-->
	        <div class="row ">
	            <div class="form-group input-group col-md-6 col-md-offset-3">
	                <input type="text" class="form-control" placeholder="Entre as palavras-chave" />
	                <span class="input-group-btn">
	                    <a class="btn btn-primary" href="index.html">
	                        <i class="fa fa-gear fa-spin"></i>&nbsp;&nbsp;PESQUISE AQUI
	                    </a>
	                </span>
	            </div>
	            <br />
	        </div>
	        <!--Search Section end-->
    		</div>
    </div>
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <br />
    						<br />
                <a class="btn btn-success" href="index.html">
                    POR FAVOR VOLTE AO SITE, NÂO TEM NADA AQUI
                </a>
                <br />
    						<br />
            </div>
        </div>
    </div>

    <hr />
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
									&copy; 2016 André Cadamuro Garcia | Layon de Souza Onofre
            </div>
        </div>
    </div>
</body>
</html>
