<div>
  <div class="row">
    <div class="col-xs-12">
      <h1 class="page-head-line">Buscar Clientes</h1>
      <h1 class="page-subhead-line">Busque e veja detahes dos clientes, animais e serviços realizados</h1>
      <a href="#" ng-click="vm.helpActive = !vm.helpActive" class="btn btn-link pull-right"><span class="fa fa-info"></span></a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Pesquisar
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label>Insira os parâmetros da busca</label>
                <input class="form-control" type="text" ng-model="vm.filtro">
                <p class="help-block" ng-show="vm.helpActive">Você pode pesquisar por qualquer dado do cliente ou animal</p>
              </div>
            </div>
          </div>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Endereço</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="entry in vm.clientes | filter:vm.filtro">
                <td>
                  <input type="checkbox" ng-model="entry.checked" ng-click="vm.updateSelection($index, vm.clientes); vm.getAnimais(entry)">
                </td>
                <td>{{entry.nome}}</td>
                <td>{{entry.email}}</td>
                <td>{{entry.telefone}}</td>
                <td>{{entry.endereco}}</td>
                <td>
                  <button class="btn btn-link" ng-click="vm.detalhes_cliente(entry)" data-toggle="tooltip" data-placement="top" title="Ver informações detalhadas">
                    <span class="fa fa-plus"></span>
                  </button>
                  <button class="btn btn-link" ng-click="vm.editar_cliente(entry)" data-toggle="tooltip" data-placement="top" title="Editar estas informações">
                    <span class="fa fa-pencil"></span>
                  </button>
                  <button class="btn btn-link" ng-click="vm.excluir_cliente(entry)" data-toggle="tooltip" data-placement="top" title="Excluir este registro">
                    <span class="fa fa-trash"></span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Animais
        </div>
        <div class="panel-body">
          <div class="table-wrapper">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Nome</th>
                  <th>Sexo</th>
                  <th>Nasc.</th>
                  <th>Raça</th>
                  <th>Porte</th>
                  <th>Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="entry in vm.animais">
                  <td>
                    <input type="checkbox" ng-model="entry.checked" ng-click="vm.updateSelection($index, vm.animais); vm.selectAnimal(entry)">
                  </td>
                  <td>{{ entry.nome }}</td>
                  <td ng-if="entry.sexo === 'M'">
                    <span class="fa fa-mars"></span></td>
                  <td ng-if="entry.sexo === 'F'"><span class="fa fa-venus"></span></td>

                  <td>{{ entry.data_nascimento }}</td>
                  <td>{{ entry.raca.nome}}</td>
                  <td>{{ entry.porte.nome}}</td>
                  <td>
                    <button class="btn btn-link" ng-click="vm.detalhes_animal(entry)" data-toggle="tooltip" data-placement="top" title="Ver informações detalhadas">
                      <span class="fa fa-plus"></span>
                    </button>
                    <button class="btn btn-link" ng-click="vm.editar_animal(entry)" data-toggle="tooltip" data-placement="top" title="Editar estas informações">
                      <span class="fa fa-pencil"></span>
                    </button>
                    <button class="btn btn-link" ng-click="vm.excluir_animal(entry)" data-toggle="tooltip" data-placement="top" title="Excluir este registro">
                      <span class="fa fa-trash"></span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row">
            <div class="col-xs-12 text-center">
              <button class="btn btn-link" ng-click="vm.novoServico()" data-toggle="tooltip" data-placement="top" title="">
                <span class="fa fa-plus"></span> Novo serviço ou consulta</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Histórico
        </div>
        <div class="panel-body">
          <div class="table-wrapper">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Data</th>
                  <th>Descrição</th>
                  <th>Valor (R$)</th>
                </tr>
              </thead>
              <tbody>
                <tr data-ng-repeat="entry in vm.historico">
                  <td>{{ entry.data_hora}}</td>
                  <td>{{ entry.nome_servico}}</td>
                  <td>{{ entry.preco }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
