<div>
  <toast></toast>
  <div class="row">
    <div class="col-xs-offset-4 col-xs-4">
      <br><br>
        <div class="row">
          <div class="col-xs-12 text-center">
            <img src="static/img/logo.jpg" style="margin: 0 auto; width: 50%;">
            <br>
            <h2 class="navbar-brand">Charme e Fofura Pet Boutique</h2>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-xs-12">
            <br><br>
            <h4>Ops, aconteceu algum erro</h4>
            <br>
            <p>Tenha certeza de que a página que está tentando acessar existe ou tente refazer a última operação.</p>
            <p>Caso persista o problema, entre em contato com o suporte técnico</p>
          </div>
        </div>
    </div>
  </div>
</div>
