<div>
   <div class="row">
      <div class="col-md-12">
         <h1 class="page-head-line">Estatísticas</h1>
         <h1 class="page-subhead-line">Veja alguns números e informações rápidas sobre a empresa</h1>
      </div>
   </div>
   <div class="row">
      <div class="col-lg-12">
         <div class="alert alert-default">
            <h4 style="color: #aaa;">Estatísticas</h4>
         </div>
         <div class="row">
            <div class="col-lg-4">
               <div class="alert alert-primary">
                  Serviços no mês<br>
                  <h4>87</h4>
               </div>
            </div>
            <div class="col-lg-4">
               <div class="alert alert-info">
                  Vendas no mês<br>
                  <h4>120</h4>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-lg-12">
         <div class="alert alert-default">
            <h4 style="color: #aaa;">Financeiro</h4>
         </div>
         <div class="row">
            <div class="col-lg-4">
               <div class="alert alert-warning">
                  Saldo Atual<br>
                  <h4>R$ 1.596,00</h4>
               </div>
            </div>
            <div class="col-lg-4">
               <div class="alert alert-danger">
                  Despesas<br>
                  <h4>R$ 400,00</h4>
               </div>
            </div>
            <div class="col-lg-4">
               <div class="alert alert-success">
                  Receitas<br>
                  <h4>R$ 809,00</h4>
               </div>
            </div>
            <div class="col-lg-4"></div>
         </div>
      </div>
   </div>
</div>
