<div ng-controller="VendaController">
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-head-line">Venda</h1>
      <h1 class="page-subhead-line">Confirmação</h1>
      <!-- <p class="text-muted">Os campos marcados com * são obrigatórios</p> -->
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="jumbotron">
        <h1>Venda concluída</h1>
        <p>A venda no valor de R$ 127,00 para o cliente Paulo Pinheiro Schimidt foi concluída .</p>
        <p>Até a próxima! <i class="text-info fa fa-heart"></i></p>
        <p><a href="/venda/nova" class="btn btn-info"><span class="fa fa-plus"></span>&nbsp;<span class="fa fa-shopping-cart"></span>&nbsp; <b>Nova Venda</b></a></p>
      </div>
    </div>
  </div>
</div>
